{{!-- css --}}
<link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="/css/audio_player.css">
{{!-- main - page --}}
<section class="section-01">
    <div class="container d-flex w-90">
        <div class="left-content w-50">
            <div class="slide">
                <div class="slide-show">
                    <div class="head-banner">
                        <span class="big-title d-block">Nhà văn của mọi thời đại</span>
                        <span class="desc-head d-block">Hơn 300 tác phẩm bất hủ</span>
                    </div>
                    <div class="w-50 img-box">
                        <img src="/img/home/slide.png" alt="">
                    </div>

                </div>
                <div class="slide-items">
                    <ul class="list-items d-flex">
                        {{#each authors}}
                        <li class="item">
                            <div class="img-box">
                                <img src="/img/author/{{this.anh_dai_dien}}" alt="" class="img-item">
                            </div>
                            <span class="author-name">{{this.ten_tac_gia}}</span>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="search-box d-flex">
                <div class="typing fa-solid fa-magnifying-glass">
                    <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
                    <input type="search" name="" id="" placeholder="Search">
                </div>
                <div class="category select-option">
                    <span class="title desc">Phân loại</span>
                    <div class="btn-select  d-flex">
                        <span class="main-title">Tất cả</span>
                        <span class="btn-down fa-solid fa-chevron-down"></span>
                    </div>

                    <ul class="list-options">
                        {{#each authors}}
                        <li class="option">{{this.ten_tac_gia}}</li>
                        {{/each}}
                    </ul>
                </div>
                <div class="century select-option">
                    <span class="title desc">Thời đại</span>
                    <div class="btn-select  d-flex">
                        <span class="main-title">Tất cả</span>
                        <span class="btn-down fa-solid fa-chevron-down"></span>
                    </div>

                    <ul class="list-options">
                        {{#each authors}}
                        <li class="option">{{this.thoi_dai}}</li>
                        {{/each}}
                    </ul>
                </div>
                <div class="btn-go">
                    <span>GO</span>
                </div>
            </div>
            <div class="last-request-box">
                <span class="desc">Tác phẩm nổi bật</span>
                <ul class="list-requests">
                    {{#each books}}
                    <li class="rq-item">
                        <div class="book">
                            <span class="No desc">{{add1index @index 1}}</span>
                            <img src="/img/covers/{{this.bia_sach}}" alt="" class="img-item">
                            <span class="title main-title">{{this.ten_sach}}</span>
                        </div>
                        <span class="author main-title">{{this.ten_tac_gia}}</span>
                        <span class="icon-star fa-regular fa-star-half-stroke">
                            <span class="desc">{{this.ty_le_sao}}</span>
                            <span class="rate desc">{{this.sl_danh_gia}}k Đánh giá</span>
                        </span>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="right-content w-50">
            <div class="writer-zone">
                <div class="topic_writer">
                    <span class="main-topic d-block" id="pp-writer">Tác giả nổi bật</span>
                    <div class="btn_s">
                        <i class="bi-move bi-arrow-left"></i>
                        <i class="bi-move bi-arrow-right"></i>
                    </div>
                </div>
                <ul class="list-writers d-flex">
                    {{#each authors}}
                    <li class="writer-item">
                        <div class="img-box"><img src="/img/author/{{this.anh_dai_dien}}" alt="" class="avt"></div>
                        <span class="name main-title">{{this.ten_tac_gia}}</span>
                        <span class="icon-star fa-regular fa-star-half-stroke">
                            <span class="desc">{{this.ty_le_sao}}</span>
                            <span class="rate desc">{{this.sl_danh_gia}}k Đánh giá</span>
                        </span>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="book-zone">
                <span class="main-topic">Gợi ý đọc</span>
                <div class="book-lists d-flex">
                    {{#each books}}
                    <div class="book-item" data-book="">
                        <div class="img-box">
                            <img src="/img/covers/{{this.bia_sach}}" alt="" class="book-img">
                            <div class="feature">
                                <span  onclick="window.location.href='/bookmark_reading/{{this.id}}'" class="action-read fa-brands fa-readme"></span>
                                <span class="action-listen fa-solid fa-headphones-simple btn-listen" data-id="{{this.id}}"></span>      
                            </div>
                        </div>
                        <span class="author desc">{{this.ten_tac_gia}}</span>
                        <span class="name main-title">{{this.ten_sach}}</span>
                        <span class="icon-star fa-regular fa-star-half-stroke">
                            <span class="desc">{{this.ty_le_sao}}</span>
                            <span class="rate desc">{{this.sl_danh_gia}}k Đánh giá</span>
                        </span>

                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>

<div class="audio-player">
    <!-- Tracks used in this music/audio player application are free to use. I downloaded them from Soundcloud and NCS websites. I am not the owner of these tracks. -->
    <div id="app-cover">
        <div id="player">
            <div id="player-track">
                <div id="album-name"></div>
                <div id="track-name"></div>
                <div id="track-time">
                    <div id="current-time"></div>
                    <div id="track-length"></div>
                </div>
                <div id="s-area">
                    <div id="ins-time"></div>
                    <div id="s-hover"></div>
                    <div id="seek-bar"></div>
                </div>
            </div>
            <div id="player-content">
                <div id="album-art">

                    <img src="/img/covers/ChiPheo-NamCao.png" class="active" id="_1">



                    <div id="buffer-box">Buffering ...</div>
                </div>
                <!-- <div class="player-option">

                </div> -->
                <div id="player-controls">
                    <div class="control">
                        <div class="button" id="play-previous">
                            <i class="fas fa-backward"></i>
                        </div>
                    </div>
                    <div class="control">
                        <div class="button" id="play-pause-button">
                            <i class="fas fa-play"></i>
                        </div>
                    </div>
                    <div class="control">
                        <div class="button" id="play-next">
                            <i class="fas fa-forward"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/home.js"></script> 
<script src="/js/audio_player.js"></script>